<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统—商品管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="styles/elementUI.css">
    <!-- 引入首页的样式 -->
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
<div id="app">
    <el-main id="main">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>商品管理</span>
            </div>
            <!-- 商品管理 -->
            <div class="text item">
                <!--下拉框-->
                <template>
                    分类：<el-select v-model="value" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
                <span>关键字：</span>
                <el-input v-model="input" placeholder=""></el-input>
                <span>(商品名称，条形码)</span>
                <el-button type="primary" icon="el-icon-search">查询</el-button>
                <!--列表-->
                <template>
                    <el-table :row-class-name="tableRowClassName"
                            :data="tableData"
                            style="width: 100%">
                        <el-table-column
                                label="商品条形码"
                                >
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.barCode }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="商品名称">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="进价(元)">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.entryPrice}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="入库">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.entryStorage }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="库存">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.inventory }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="已售)">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.salesOut }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="管理"  width="140px">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i>
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleDelete(scope.$index, scope.row)"> <i class="el-icon-delete"></i>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            <!--分页-->
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="100">
                </el-pagination>
            </div>
        </el-card>
    </el-main>
</div>
<!-- 引入jquery -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入vue -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //创建vue实例
    new Vue({
        //挂载视图
        el: "#app",
        data() {
            return {
                options: [{
                    value: '选项1',
                    label: '顶级分类'
                }, {
                    value: '选项2',
                    label: '一级分类'
                }, {
                    value: '选项3',
                    label: '二级分类'
                }, {
                    value: '选项4',
                    label: '三级分类'
                }, {
                    value: '选项5',
                    label: '四级分类'
                }],
                value: '',
                input: '',
                tableData: [{
                    barCode:'001232001',
                    name: '海飞丝去屑洗发水',
                    entryPrice:'7.00',
                    entryStorage:'10',
                    inventory:'5',
                    salesOut:'5',
                },{
                    barCode:'331232001',
                    name: '茅台',
                    entryPrice:'150.00',
                    entryStorage:'10',
                    inventory:'6',
                    salesOut:'4',
                },{
                    barCode:'456232001',
                    name: '龙凤呈祥',
                    entryPrice:'1.33',
                    entryStorage:'10',
                    inventory:'10',
                    salesOut:'0',
                },]
            }
        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            //编辑和删除的方法
            handleEdit(index, row) {
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(index, row);
            }
        }
    });
</script>
</body>

</html>