<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统—商品入库</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="styles/elementUI.css">
    <!-- 引入首页的样式 -->
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
<div id="app">
    <el-main id="main">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>商品入库</span>
            </div>
            <div class="text item">
                <!-- 添加的页面 -->
                <el-form :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                         label-width="100px" v-model="labelPosition"
                         class="demo-ruleForm">
                    <el-form-item label="商品条形码" prop="barCode">
                        <el-input v-model="ruleForm2.barCode"></el-input>
                    </el-form-item>

                    <el-form-item label="数量" prop="number">
                        <el-input v-model="ruleForm2.goodsName"></el-input>
                    </el-form-item>
                    <el-form-item label="进价" prop="entryPrice">
                        <el-input v-model="ruleForm2.entryPrice"></el-input>元
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" @click="submitForm('ruleForm2')">入库</el-button>
                    </el-form-item>

                </el-form>

            </div>
        </el-card>
    </el-main>
</div>
<!-- 引入jquery -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入vue -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //创建vue实例
    new Vue({
        //挂载视图
        el: "#app",
        data() {
            return {
                labelPosition: 'top',
                ruleForm2: {
                    barCode:'',
                    number: '1',
                    entryPrice:''
                },
                rules2: {
                    barCode: [
                        {required: true, message: "商品条形码必须填写", trigger: 'blur'}
                    ],number: [
                        {required: true, message: "数量必须填写", trigger: 'blur'}
                    ],entryPrice: [
                        {required: true, message: "数量必须填写", trigger: 'blur'}
                    ]},
            };
        },
        methods: {
            //提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //1. 表单验证通过就发起ajax请求到后端路由
                           $.post('/users/add',this.ruleForm2,(result)=>{
                        if(result.affectedRows>0){
                            alert("添加成功");
                        }else{
                            alert("添加失败")
                        }
                           });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
        }
    });
</script>
</body>

</html>