<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统—商品管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="styles/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="styles/elementUI.css">
    <!-- 引入首页的样式 -->
    <link rel="stylesheet" href="styles/index.css">
    <!--验证合法性-->
    <script src="/users/checkState"></script>
</head>

<body>
<div id="app">
    <el-main id="main">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>商品管理</span>
            </div>
            <!-- 商品管理 -->
            <div class="text item">
                <!--下拉框-->
                <div class="text item">
                    <el-form :inline="true" :model="search" id="searchForm" class="demo-form-inline">
                        <el-form-item label="所属分类">
                            <el-select v-model="search.category" placeholder="分类选择">
                                <el-option v-for="(c, index) in categoryList" :key="index" :label="c.cg_name" :value="c.cg_id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="关键词">
                            <el-input v-model="search.keywords" placeholder="商品条码或商品名称"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="success" @click="onSearch">查询</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <!--列表-->
                <template>
                    <el-table :data="tableData" style="width: 100%">
                            <el-table-column label="商品条形码" prop="barcode" >
                            </el-table-column>
                        <el-table-column label="商品名称" prop="goodsname">
                        </el-table-column>

                        <el-table-column label="所属分类" >
                            <template slot-scope="scope">
                                <span> {{ scope.row.cg_name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="商品进价" >
                            <template slot-scope="scope">
                                <span class="redText"> {{ scope.row.goodsprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="市场价" >
                            <template slot-scope="scope">
                                <span class="redText"> {{ scope.row.marketprice | formatPrice}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="销售价" >
                            <template slot-scope="scope">
                                <span class="redText"> {{ scope.row.saleprice | formatPrice}}</span>
                            </template>
                        </el-table-column>

                        <el-table-column label="管理" width="200px">
                            <template slot-scope="scope">
                                <el-button size="mini" @click="handleEdit(scope.row.good_id)" type="primary" plain>
                                    <i class="el-icon-edit"></i> 编辑</el-button>
                                <el-button size="mini" @click="handleDelete(scope.row.good_id)" type="danger" plain>
                                    <i class="el-icon-delete"></i> 删除</el-button>
                            </template>
                        </el-table-column>

                    </el-table>
                </template>
            <!--分页-->
                <div>
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" background :current-page="currentPage" :page-sizes="[1, 2, 3, 4, 5, 10, 100, 200, 300, 400]"
                                   :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </div>
            </div>
        </el-card>
    </el-main>
</div>
<!-- 引入jquery -->
<script src="./javascripts/jquery.min.js"></script>
<!-- 引入vue -->
<script src="./javascripts/vue.min.js"></script>
<!-- 引入elementUI -->
<script src="./javascripts/elementUI.js"></script>
<script>
    //创建vue实例
    new Vue({
        //挂载视图
        el: "#app",
        data() {
            return {
                tableData: [],
                categoryList: [],
                total: 52,
                currentPage: 1,
                pageSize: 10,
                search: {
                    keywords: '',
                    category: ''
                }
            }
        },
        filters: {
            //过滤器做一个管道格式化价格
            formatPrice(price) {
                return price.toFixed(2);
            }
        },
        methods: {
            onSearch(){
                this.getDataAjax();
            },
            //编辑和删除的方法
            handleEdit(id) {
                location.href="goods_edit.html?id="+id;
            },
            handleDelete(id) {
                $.get('/goods/del',{id},(result)=>{
                    if(result.isOk){
                        this.getDataAjax();
                    }else{
                        alert(result.msg);
                    }
                });
            },
            //抽取获取数据的ajax请求为一个公共的方法
            getDataAjax() {
                //查询+分页
                let pageSearchObj = {
                    currentPage: this.currentPage,  //当前页
                    pageSize: this.pageSize,        //每页大小
                    keywords: this.search.keywords, //关键词
                    category: this.search.category  //分类
                };
                $.get("/goods/listPagerSearch", pageSearchObj, (pagerData) => {
                    //console.log(pagerData);
                    //{"total":15,"datalist":goodsList}
                    this.total = pagerData.total; //符合条件的总记录数
                    this.tableData = pagerData.datalist; //符合条件的分页数据
                });
            },
            //每页大小分页的方法
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);

                this.pageSize = val; //修改每页大小
                //修改每页大小后要重新调用ajax，显示新的页码的数据
                this.getDataAjax();
            },
            //当前页码改变的方法
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                this.currentPage = val;//改变页码

                //改变页码后要重新调用ajax，显示新的页码的数据
                this.getDataAjax();
            }
        },
        mounted() {
            //调用ajax方法获取数据
            this.getDataAjax();
            //填充分类
            $.get("/category/list",(dataList)=> {
                //把ajax请求获取的分类修改到模型上面
                this.categoryList=dataList;
            });
        }
    });
</script>
</body>

</html>